@model IEnumerable<Eshop.Domain.Domain.BookInOrder>

<h1>All Books in Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Book Title</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var bookInOrder in Model)
            {
                <tr>
                    <td>@bookInOrder.Order.Id</td>
                    <td>@bookInOrder.Book.Title</td>
                    <td>@bookInOrder.Quantity</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No books in any orders.</td>
            </tr>
        }
    </tbody>
</table>
